Exercicio.Web/Service References/WSCURSO/CursoSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CursoSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICursoSvc_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetNamedPipeBinding_ICursoSvc_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20444/CursoSvc/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20444/CursoSvc/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20444/CursoSvc/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICursoSvc_GetAllCursos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCursos" />
  </wsdl:message>
  <wsdl:message name="ICursoSvc_GetAllCursos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCursosResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoSvc_GetCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurso" />
  </wsdl:message>
  <wsdl:message name="ICursoSvc_GetCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCursoResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoSvc_InsertCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCurso" />
  </wsdl:message>
  <wsdl:message name="ICursoSvc_InsertCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCursoResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoSvc_ModifyCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCurso" />
  </wsdl:message>
  <wsdl:message name="ICursoSvc_ModifyCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCursoResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoSvc_RemoveCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCurso" />
  </wsdl:message>
  <wsdl:message name="ICursoSvc_RemoveCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCursoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICursoSvc">
    <wsdl:operation name="GetAllCursos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoSvc/GetAllCursos" message="tns:ICursoSvc_GetAllCursos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoSvc/GetAllCursosResponse" message="tns:ICursoSvc_GetAllCursos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoSvc/GetCurso" message="tns:ICursoSvc_GetCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoSvc/GetCursoResponse" message="tns:ICursoSvc_GetCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoSvc/InsertCurso" message="tns:ICursoSvc_InsertCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoSvc/InsertCursoResponse" message="tns:ICursoSvc_InsertCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoSvc/ModifyCurso" message="tns:ICursoSvc_ModifyCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoSvc/ModifyCursoResponse" message="tns:ICursoSvc_ModifyCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoSvc/RemoveCurso" message="tns:ICursoSvc_RemoveCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoSvc/RemoveCursoResponse" message="tns:ICursoSvc_RemoveCurso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICursoSvc" type="tns:ICursoSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCursos">
      <soap:operation soapAction="http://tempuri.org/ICursoSvc/GetAllCursos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurso">
      <soap:operation soapAction="http://tempuri.org/ICursoSvc/GetCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCurso">
      <soap:operation soapAction="http://tempuri.org/ICursoSvc/InsertCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCurso">
      <soap:operation soapAction="http://tempuri.org/ICursoSvc/ModifyCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCurso">
      <soap:operation soapAction="http://tempuri.org/ICursoSvc/RemoveCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICursoSvc" type="tns:ICursoSvc">
    <wsp:PolicyReference URI="#NetTcpBinding_ICursoSvc_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllCursos">
      <soap12:operation soapAction="http://tempuri.org/ICursoSvc/GetAllCursos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurso">
      <soap12:operation soapAction="http://tempuri.org/ICursoSvc/GetCurso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCurso">
      <soap12:operation soapAction="http://tempuri.org/ICursoSvc/InsertCurso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCurso">
      <soap12:operation soapAction="http://tempuri.org/ICursoSvc/ModifyCurso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCurso">
      <soap12:operation soapAction="http://tempuri.org/ICursoSvc/RemoveCurso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_ICursoSvc" type="tns:ICursoSvc">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_ICursoSvc_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetAllCursos">
      <soap12:operation soapAction="http://tempuri.org/ICursoSvc/GetAllCursos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurso">
      <soap12:operation soapAction="http://tempuri.org/ICursoSvc/GetCurso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCurso">
      <soap12:operation soapAction="http://tempuri.org/ICursoSvc/InsertCurso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCurso">
      <soap12:operation soapAction="http://tempuri.org/ICursoSvc/ModifyCurso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCurso">
      <soap12:operation soapAction="http://tempuri.org/ICursoSvc/RemoveCurso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CursoSvc">
    <wsdl:port name="BasicHttpBinding_ICursoSvc" binding="tns:BasicHttpBinding_ICursoSvc">
      <soap:address location="http://localhost:20444/CursoSvc/web" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICursoSvc" binding="tns:NetTcpBinding_ICursoSvc">
      <soap12:address location="net.tcp://localhost:20445/CursoSvc/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:20445/CursoSvc/tcp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>CESAR\'</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_ICursoSvc" binding="tns:NetNamedPipeBinding_ICursoSvc">
      <soap12:address location="net.pipe://localhost/CursoSvc/pipe" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/CursoSvc/pipe</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>CESAR\'</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>