Exercicio.Web/Service References/WSPRODUTO/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20444/ProdutoSvc/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB.Entities" />
  <xs:element name="GetAllProdutos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DB.Entities" minOccurs="0" name="GetAllProdutosResult" nillable="true" type="q1:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DB.Entities" minOccurs="0" name="GetProdutoResult" nillable="true" type="q2:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DB.Entities" minOccurs="0" name="p" nillable="true" type="q3:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DB.Entities" minOccurs="0" name="p" nillable="true" type="q4:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>