Exercicio.Web/Service References/WSPRODUTO/PordutoSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PordutoSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProdutoSvc_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IProdutoSvc_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20444/ProdutoSvc/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20444/ProdutoSvc/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20444/ProdutoSvc/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProdutoSvc_GetAllProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProdutos" />
  </wsdl:message>
  <wsdl:message name="IProdutoSvc_GetAllProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoSvc_GetProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduto" />
  </wsdl:message>
  <wsdl:message name="IProdutoSvc_GetProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoSvc_InsertProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProduto" />
  </wsdl:message>
  <wsdl:message name="IProdutoSvc_InsertProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoSvc_ModifyProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyProduto" />
  </wsdl:message>
  <wsdl:message name="IProdutoSvc_ModifyProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoSvc_RemoveProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProduto" />
  </wsdl:message>
  <wsdl:message name="IProdutoSvc_RemoveProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProdutoSvc">
    <wsdl:operation name="GetAllProdutos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoSvc/GetAllProdutos" message="tns:IProdutoSvc_GetAllProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoSvc/GetAllProdutosResponse" message="tns:IProdutoSvc_GetAllProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoSvc/GetProduto" message="tns:IProdutoSvc_GetProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoSvc/GetProdutoResponse" message="tns:IProdutoSvc_GetProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoSvc/InsertProduto" message="tns:IProdutoSvc_InsertProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoSvc/InsertProdutoResponse" message="tns:IProdutoSvc_InsertProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoSvc/ModifyProduto" message="tns:IProdutoSvc_ModifyProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoSvc/ModifyProdutoResponse" message="tns:IProdutoSvc_ModifyProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoSvc/RemoveProduto" message="tns:IProdutoSvc_RemoveProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoSvc/RemoveProdutoResponse" message="tns:IProdutoSvc_RemoveProduto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProdutoSvc" type="tns:IProdutoSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProdutos">
      <soap:operation soapAction="http://tempuri.org/IProdutoSvc/GetAllProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduto">
      <soap:operation soapAction="http://tempuri.org/IProdutoSvc/GetProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduto">
      <soap:operation soapAction="http://tempuri.org/IProdutoSvc/InsertProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyProduto">
      <soap:operation soapAction="http://tempuri.org/IProdutoSvc/ModifyProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProduto">
      <soap:operation soapAction="http://tempuri.org/IProdutoSvc/RemoveProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IProdutoSvc" type="tns:IProdutoSvc">
    <wsp:PolicyReference URI="#NetTcpBinding_IProdutoSvc_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllProdutos">
      <soap12:operation soapAction="http://tempuri.org/IProdutoSvc/GetAllProdutos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduto">
      <soap12:operation soapAction="http://tempuri.org/IProdutoSvc/GetProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduto">
      <soap12:operation soapAction="http://tempuri.org/IProdutoSvc/InsertProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyProduto">
      <soap12:operation soapAction="http://tempuri.org/IProdutoSvc/ModifyProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProduto">
      <soap12:operation soapAction="http://tempuri.org/IProdutoSvc/RemoveProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_IProdutoSvc" type="tns:IProdutoSvc">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IProdutoSvc_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetAllProdutos">
      <soap12:operation soapAction="http://tempuri.org/IProdutoSvc/GetAllProdutos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduto">
      <soap12:operation soapAction="http://tempuri.org/IProdutoSvc/GetProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduto">
      <soap12:operation soapAction="http://tempuri.org/IProdutoSvc/InsertProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyProduto">
      <soap12:operation soapAction="http://tempuri.org/IProdutoSvc/ModifyProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProduto">
      <soap12:operation soapAction="http://tempuri.org/IProdutoSvc/RemoveProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PordutoSvc">
    <wsdl:port name="BasicHttpBinding_IProdutoSvc" binding="tns:BasicHttpBinding_IProdutoSvc">
      <soap:address location="http://localhost:20444/ProdutoSvc/web" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IProdutoSvc" binding="tns:NetTcpBinding_IProdutoSvc">
      <soap12:address location="net.tcp://localhost:20445/ProdutoSvc/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:20445/ProdutoSvc/tcp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>CESAR\'</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IProdutoSvc" binding="tns:NetNamedPipeBinding_IProdutoSvc">
      <soap12:address location="net.pipe://localhost/ProdutoSvc/pipe" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ProdutoSvc/pipe</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>CESAR\'</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>